<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.com.allinone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic_buttons_usage"
            android:label="Basic Buttons"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".stopwatch_activity"
            android:label="Stopwatch"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".create_message"
            android:label="Messenger"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".ship_sink"
            android:label="@string/title_activity_ship_sink"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".calculator"
            android:label="@string/title_activity_calculator"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".CrossfadeActivity"
            android:label="CrossFade"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".ScreenSlideActivity"
            android:label="Slide Screen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".CardFlipActivity"
            android:label="Flip It :P"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".ZoomActivity"
            android:label="@string/title_activity_zoom"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
        <activity
            android:name=".LayoutChangesActivity"
            android:label="@string/title_activity_layout_changes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.allinone.MainActivity" />
        </activity>
    </application>

</manifest>
